# Python cache and object files
__pycache__/
*.py[cod]

# Python installation packages
dist/

# Coverage.py
.coverage
.cov
coverage.xml

# Sphinx
doc/_build/
doc/pyVHDLParser/**/*.*
!doc/pyVHDLParser/index.rst

# IntelliJ project files
/.idea/workspace.xml
