# Python cache and object files
__pycache__/
*.py[cod]

# Coverage.py
.coverage
.cov
coverage.xml

# setuptools
/build/**/*.*
/dist/**/*.*
/*.egg-info

# Dependencies
!requirements.txt

# Sphinx documentation
/doc/_build/
/doc/_theme/
/doc/pyVHDLParser/**/*.*
!/doc/pyVHDLParser/index.rst

# IntelliJ project files
/.idea/workspace.xml

pyVHDLParser/Sven
